* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
}

.container {
    margin-top: 4%;
}

.food-image {
   width: 90%;
   margin-bottom: 1rem;
}

.wrapper {
    width: 380px;
    height: 330px;
    border-radius: 1rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    align-items: center;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    font-size: 1.5rem;
}

.header-title a {
    color: black;
    text-decoration: none;

}
.header-title a:hover {
    text-decoration: underline;

}

.heart {
    cursor: pointer;
}

.meal-footer {
    margin-top: 2%;
    padding: 5%;
    border-top: 5px solid black;
    font-size: 1.5rem;
}

.image-comment {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.likes-count {
    float: right;
    margin-right: 3rem;
}

#comment-btn {
   background-color: rgb(242, 76, 76);
   color: wheat;
   align-items: center;
   text-align: center;
   padding: 1%;
   font-size: 25px;
   text-decoration: none;
   border: none;
   margin: 0 4rem;
   cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2%;
    padding: 7%;
}

/* Popup window */
.popup-meals-content {
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    background-color: rgb(202, 55, 55);
    border-radius: 1rem;
    align-items: center;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    padding: 3rem 3rem;
    align-items: center;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.meals-name {
    letter-spacing: 1px;
    background-color: rgb(199, 211, 111);
    color: white;
    padding: 7px 5px;
    border-radius: 10px;
}

.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-form {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
}

.input-name {
    padding: 10px;
    margin-top: 5px;
}

.input-text {
    margin: 5px auto;
    text-align: start;
    width: 194px;
    height: auto;
    padding: 28px;
    /* border-radius: 2%; */
}

.btn-comment {
    padding: 10px 5px;
    cursor: pointer;
}

.btn-comment:hover {
    background-color: rgb(218, 109, 109);
    color: white;
    border-radius: 1%;
}
