* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
}

a {
  text-decoration: none;
}

.container {
  margin-top: 4%;
}

.food-image {
  width: 90%;
  margin-bottom: 1rem;
}

.wrapper {
  width: 380px;
  height: 330px;
  border-radius: 1rem;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
  align-items: center;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-size: 1.5rem;
}

.header-title a {
  color: black;
  text-decoration: none;
}

.header-title a:hover {
  text-decoration: underline;
}

.heart {
  cursor: pointer;
}

.meal-footer {
  margin-top: 6%;
  padding: 2%;
  color: white;
  background-color: rgb(242, 76, 76);
  border-top: 1px solid rgb(242, 76, 76);
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

.image-comment {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.likes-count {
  float: right;
  margin-right: 3rem;
}

#comment-btn {
  background-color: rgb(242, 76, 76);
  color: wheat;
  align-items: center;
  text-align: center;
  padding: 1%;
  font-size: 25px;
  text-decoration: none;
  border: none;
  margin: 0 4rem;
  cursor: pointer;
  border-radius: 5px;
}

.get-comment {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.signle-comment {
  margin-top: 2%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  padding: 7%;
}

/* Popup window */
.popup-meals-content {
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: rgb(202, 55, 55);
  border-radius: 1rem;
  align-items: center;
  width: 88%;
  height: 95%;
  overflow-y: scroll;
  padding: 3rem 3rem;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.meals-name {
  letter-spacing: 1px;
  background-color: rgb(199, 211, 111);
  color: white;
  padding: 7px 5px;
  border-radius: 10px;
  margin: 2px 30rem;
}

.recipe-close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 1.8rem;
  background: white;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  opacity: 0.9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
}

.add-comment {
  display: flex;
  margin-bottom: 2%;
}

.input-name {
  padding: 10px;
  margin-top: 5px;
  max-width: 30%;
}

.input-text {
  margin: 1% 0;
  text-align: start;
  height: auto;
  padding: 28px;
  max-width: 30%;
}

.btn-comment {
  padding: 10px 5px;
  cursor: pointer;
  max-width: 30%;
}

.btn-comment:hover {
  background-color: rgb(218, 109, 109);
  color: white;
  border-radius: 1%;
}
